span {
    font-family: unset;
    font-weight: normal !important;
    font-family: firaCode;
}

code {
    font-family: firaCode !important;
}

.code-div {
    font-family: firaCode !important;
    font-weight: unset;
    font-size: smaller;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
