.project-header {
    margin-top: 1rem;
}

.project-icon {
    width: 12rem;
    margin: auto;
}

.project-short-description-div {
    margin: 1rem;
}

.screenshot-div {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */

    position: relative;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    height: 8rem;

    scrollbar-width: thin;
    scrollbar-color: var(--accent) rgb(214, 214, 214);
}

.description-img {
    /* width: 50%; */
    /* max-height: 15rem; */
    max-width: 100%;
    display: block;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.section-buttons-div {
    display: flex;
}

@media screen and (max-width: 500px) {
    .project-icon {
        width: 60%;
    }

    .project-short-description-div {
        margin: 0rem;
    }

    .screenshot-div {
        height: 5rem;
    }
}
