#header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#button-row {
  /* margin-top: 20px; */
}

#bottom-links {
  margin-top: 1.25rem;
  padding-bottom: 0.625rem;
}

#head {
  /* height: 70%; */
  width: 70%;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  padding: 0.625rem;
  margin: auto;
}

#header-text {
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 500px) {
  #head {
    width: 60%;
  }

  #header {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
  }

  #bottom-links {
    margin: 0.3125rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding-bottom: 0.625rem;
    /* padding: 15px; */
  }
}
