#header {
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
}

#button-row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* margin-top: 20px; */
}

#bottom-links {
    margin-top: 1.25rem;
    height: 1rem;
    /* height: max-content; */
    /* height: fit-content; */
    /* padding-bottom: 0.625rem; */
}

#head {
    /* height: 70%; */
    /* width: 70%; */
    height: 230px !important;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0.625rem; */
    margin: auto;
}

#header-text {
    margin: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
    /* #head {
    width: 60%;
  } */

    #header {
        margin-top: 0.3125rem;
        margin-bottom: 0.3125rem;
    }

    #button-row {
        margin: 0rem;
    }

    #bottom-links {
        /* margin: 0.3125rem; */
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        height: 1rem;
        /* padding-bottom: 0.625rem; */
        /* padding: 15px; */
    }
}
