#header {
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
    margin-left: -1rem;
    /* margin-bottom: 1rem; */
}

#button-row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* margin-top: 20px; */
}

#bottom-links {
    /* margin-top: 1.25rem; */
    margin-bottom: 1.25rem;
    height: 1rem;
}

#head {
    /* height: 70%; */
    /* width: 70%; */
    /* height: 230px !important; */
    height: 10rem !important;
    width: 16rem !important;
    /* width: 80% !important; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0.625rem; */
    margin: auto;
}

#header-text {
    margin: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
    /* #head {
    width: 60%;
  } */

    #header {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        /* margin-top: 0.3125rem; */
        margin-bottom: 1rem;
    }

    #button-row {
        margin: 0rem;
    }

    #bottom-links {
        /* margin: 0.3125rem; */
        /* margin-top: 0.625rem; */
        /* margin-bottom: 0.625rem; */
        /* height: 1rem; */
        /* padding-bottom: 0.625rem; */
        /* padding: 15px; */
    }
}
