.game-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    /* align-items: center; */
}

.render-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    /* align-items: center; */
}

@media screen and (max-width: 500px) {
    .game-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .render-grid-container {
        grid-template-columns: 1fr;
    }
}
